<a href="https://colab.research.google.com/github/SerajumMunir/practice1/blob/master/B1_CT_4_18101068.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Question no 1**

In [1]:
class Employee:
  def __init__(self,id,name,department,position,manager,level):
    self.id=id
    self.name=name
    self.department=department
    self.position=position
    self.manager=manager
    self.level=level

In [2]:
employee1 = Employee(1,"David","Manager","IT","NULL",1)
employee2 = Employee(4,"Julia","Manager","HR","NULL",1)
employee3 = Employee(8,"Sophie","Manager","Marketing","NULL",1)

***Question no 2***

In [13]:
class BankAccount:
  NameOfAccount=" "
  AccountNumber=" "
  CurrentBalance=0.0

  
  def __init__(self,NameOfAccount,AccountNumber,CurrentBalance):
    self.NameOfAccount=NameOfAccount
    self.AccountNumber=AccountNumber
    self.CurrentBalance=CurrentBalance

  def Deposite(self,amount):
    self.CurrentBalance+=amount

  def Withdraw(self,amount):
    if self.CurrentBalance >= amount :
      self.CurrentBalance=self.CurrentBalance-amount
  
  def ShowBalance(self):
    print(self.CurrentBalance)

***Question no 3***

In [12]:
def function1(n):
  sum=0
  for i in range(1,n+1):
    sum=sum+math.log(i)
  return round(sum,4)

In [13]:
N=int(input())
function1(N)

4

3.1781